@import '/src/styles/basic.scss';

.email-input {
  width: 250px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 20px;
  background-color: transparent;
}

.email-input:focus {
  outline: none;
}

.password-input {
  width: 250px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  background-color: transparent;
}

.password-input-check {
  width: 250px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  background-color: transparent;
}

.password-input-check-none {
  display: none;
}

.password-input-check-message {
  color: rgb(249, 35, 35);
}

.displayname-input {
  width: 250px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  background-color: transparent;
}


.displayname-input-none {
  display: none;
}

.password-input:focus {
  outline: none;
}

.password-input-check-message-none {
  display: none;
}

.create-btn {
  margin: 10px;
  border: none;
  font-family: $fontType-notoSansKorean;
  cursor: pointer;
}