@import '/src/styles/basic.scss';

.Auth {
  width: 400px;
  height: 560px;
  margin: 0px auto;
  margin-top: 20vh;
  background-color: rgb(239, 239, 239);
  text-align: center;

  .auth-title {
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
    font-family: $fontType-merriweather;
  }

  .create-id-btn {
    border: 2px solid #4f4f4f;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-family: $fontType-notoSansKorean;
  }
}

@media (max-width:450px) {
  .Auth {
    width: 100vw;
  }
}