@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

$fontColor-white : #FFFFFF;

$fontSize-20 : 20px;
$fontSize-15 : 15px;

$fontType-merriweather: 'Merriweather', serif;
$fontType-nanumMyeongjo: 'Nanum Myeongjo', serif;