@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import '/src/styles/basic.scss';

.home {
  width: 1250px;
  height: 700px;
  margin: 0px auto;
  margin-top: 50px;

  .main-box {
    display: flex;
    width: 1050px;
    height: 600px;
    margin: 0px auto;

    .main-left {
      position: relative;
      width: 500px;
      height: auto;

      .main-left-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 99;
      }

      .title-box {
        position: absolute;
        top: 0px;
        width: 500px;
        height: 600px;
        opacity: 1;
        transition: all 1s;

        .numbering-title {
          position: absolute;
          bottom: 80%;
          left: 5%;
          font-family: $fontType-merriweather;
          font-size: 30px;
          color: $fontColor-white;
        }
  
        .social-title {
          position: absolute;
          bottom: 2%;
          left: 60%;
          font-family: $fontType-merriweather;
          font-size: 25px;
          color: $fontColor-white;
        }
      }

      .title-box:hover {
        opacity: 1;
        transition: all 1s;
      }
    }

    .main-right {
      width: 550px;
      height: 600px;

      .images-top {
        display: flex;
        width: 100%;
        height: 300px;

        .image-top-box-left {
          position: relative;

          .image-top-left {
            width: 275px;
            height: 300px;
            object-fit: cover;
          }

          .title-box {
            position: absolute;
            top: 0px;
            width: 275px;
            height: 300px;
            opacity: 1;
            transition: all 1s;

            .top-left-numbering-title {
              position: absolute;
              top: 1%;
              left: 5%;
              font-size: $fontSize-20;
              font-family: $fontType-merriweather;
              color: $fontColor-white;
            }
  
            .top-left-social-title {
              position: absolute;
              bottom: 3%;
              left: 55%;
              font-size: $fontSize-20;
              font-family: $fontType-merriweather;
              color: $fontColor-white;
            }
          }

          .title-box:hover {
            opacity: 1;
            transition: all 1s;
          }
        }
        
        .image-top-box-right {
          position: relative;

          .image-top-right {
            width: 275px;
            height: 300px;
            object-fit: cover;
          }

          .title-box {
            position: absolute;
            top: 0px;
            width: 275px;
            height: 300px;
            opacity: 1;
            transition: all 1s;

            .top-right-numbering-title {
              position: absolute;
              top: 1%;
              left: 5%;
              font-size: $fontSize-20;
              font-family: $fontType-merriweather;
              color: $fontColor-white;
            }
  
            .top-right-social-title {
              position: absolute;
              bottom: 3%;
              left: 55%;
              font-size: $fontSize-20;
              font-family: $fontType-merriweather;
              color: $fontColor-white;
            }
          }

          .title-box:hover {
            opacity: 1;
            transition: all 1s;
          }
        }
      }

      .images-bottom {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        width: 100%;
        height: 300px;

        .image-bottom-box {
          position: relative;
          display: flex;

          .image-bottom-left {
            width: 260px;
            height: 285px;
            object-fit: cover;
          }

          .title-box {
            position: absolute;
            top: 0px;
            width: 260px;
            height: 285px;
            opacity: 1;
            transition: all 1s;

            .bottom-numbering-title {
              position: absolute;
              top: 2%;
              left: 5%;
              color: $fontColor-white;
              font-family: $fontType-merriweather;
              font-size: $fontSize-20;
            }

            .bottom-social-title {
              position: absolute;
              bottom: 2%;
              left: 55%;
              color: $fontColor-white;
              font-family: $fontType-merriweather;
              font-size: $fontSize-20;
            }

            .title-box:hover {
              opacity: 1;
              transition: all 1s;
            }
          }
        }

        .title-bottom-right {
          width: 275px;
          height: 250px;
          text-align: end;
          font-size: 60px;
          font-family: $fontType-nanumMyeongjo;
          color: rgb(68, 68, 68);
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .home {
    width: 100vw;
    margin-top: 0px;

    .main-box {
      width: 100vw;
      display: flex;
      flex-direction: column;

      .main-left {
        width: 100vw;

        .title-box {
          width: 100vw;
          height: 100%;
        }

        .social-title {
          left: 50%;
        }
      }

      .main-right {
        width: 100vw;

        .images-top {
          .image-top-box-left {
            .image-top-left {
              width: 50vw;
            }

            .title-box {
              width: 50vw;

              .top-left-social-title {
                display: none;
              }
            }
          }
          
          .image-top-box-right {
            .image-top-right {
              width: 50vw;
            }

            .title-box {
              width: 50vw;

              .top-right-social-title {
                display: none;
              }
            }
          }
        }

        .images-bottom {
          .image-bottom-box {
            .image-bottom-left {
              width: 50vw;
              height: 300px;
            }

            .title-box {
              width: 50vw;
              height: auto;
              .bottom-social-title {
                display: none;
              }
            }
            
          }

          .title-bottom-right {
            padding-right: 20px;
            font-size: 50px;
          }
        }
      }
    }
  }
}