@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.Postlist {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  width: 1050px;
  height: auto;
  margin: 0px auto;
  margin-top: 50px;

  .cards {
    position: relative;
    cursor: pointer;

    .card-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Merriweather', serif;
      font-size: 25px;
      opacity: 0.8;
      color: #FFFFFF;
    }
    
    .card-image {
      width: 250px;
      height: 300px;
      object-fit: cover;
    }
  }
}