@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.Postlist {
  width: 100%;

  .like-rank {
    width: 1050px;
    height: auto;
    margin: 0px auto;
    text-align: center;

    .like-rank-btn {
      margin-top: 30px;
      border: 0px;
      font-size: 20px;
      background-color: transparent;
    }

    .like-rank-btn:hover {
      cursor: pointer;
      border-bottom: 1px solid rgb(68, 68, 68);
    }
  }
  
  .postlist-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1050px;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
  
    .cards {
      position: relative;
      height: 300px;
      cursor: pointer;
      
  
      .card-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Merriweather', serif;
        font-size: 25px;
        opacity: 0.8;
        color: #FFFFFF;
      }
      
      .card-image {
        width: 250px;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}


