@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import '/src/styles/basic.scss';


.Postlist {
  width: 100%;

  .like-rank {
    height: auto;
    margin: 0px auto;
    text-align: center;

    .like-rank-btn {
      margin-top: 30px;
      padding: 5px 15px;
      border: 1px solid rgb(68, 68, 68);
      font-size: 20px;
      background-color: rgb(68, 68, 68);
      color: #eeeeee;
      font-family: $fontType-notoSansKorean;
    }

    .like-rank-btn:hover {
      cursor: pointer;
      border-bottom: 1px solid rgb(68, 68, 68);
    }
  }

  .postlist-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1050px;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;

    .postlist-cards {
      position: relative;
      height: 300px;
      cursor: pointer;

      .postlist-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Merriweather', serif;
        font-size: 25px;
        opacity: 0.8;
        color: #FFFFFF;
      }

      .postlist-image {
        width: 250px;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 450px) {
  .Postlist {
    .postlist-box {
      width: 100vw;
      display: flex;
      flex-direction:row;
  
      .postlist-cards {
        width: 50vw;
        
        .postlist-title {
          top: 50%;
          left: 50%;
        }

        .postlist-image {
          width: 50vw;
        }
      }
    }
  }
}


