.Post {
  width: 1050px;
  height: 600px;
  margin: 0px auto;
  margin-top: 50px;
  
  .post-form-left {
    position: relative;
    width: 1050px;
    height: 600px;
    padding-left: 15px;

    .post-position {
      display: flex;
      gap: 20px;
    }

    .post-input-box {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .input-style {
        width: 500px;
        border: none;
        border-bottom: 1px solid rgb(175, 175, 175);
        background-color: transparent;
        font-size: 20px;
      }

      .input-style:focus {
        outline: none;
      }
      .input-style::placeholder {
        color: rgb(172, 172, 172);
      }
    }

    .Add-btn {
      position: absolute;
      top: 400px;
      width: 80px;
      height: 40px;
      margin-top: 20px;
      border: 0px;
      font-size: 20px;
      text-align: center;
      color: #eeeeee;
      background-color: rgb(68, 68, 68);
      cursor: pointer;
    }

    .post-form-right {
      position: relative;
      width: 400px;
      height: 500px;
      margin: 0px auto;
      border: 5px dotted rgb(172, 172, 172);

      .post-image-input {
        position: absolute;
        top: 220px;
        left: 155px;
        padding: 10px 20px;
        background-color: rgb(68, 68, 68);
        color: #eeeeee;
        font-size: 20px;
        opacity: 0.8;
        cursor: pointer;
      }

      .post-image {
        width: 390px;
        height: 490px;
        object-fit: cover;
      }

      .clear-btn {
        position: absolute;
        bottom: 5%;
        right: 5%;
        padding: 5px 20px;
        border: 0px;
        background-color: #ffffff;
        color: rgb(68, 68, 68);
        font-size: 20px;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 450px) {
  .Post {
    width: 100vw;
    height: auto;
    margin-top: 0px;

    .post-form-left {
      width: 100vw;

      .post-position {
        display: block;
      }
      
      .post-input-box {
        position: absolute;
        top: 65vh;
        width: 90vw;
        margin-top: 30px;

        .input-style {
          width: 90vw;
          font-size: 20px;
        }
      }

      .Add-btn {
        top: 20px;
      }
      
      .post-form-right {
        position: absolute;
        top: 5vh;
        width: 90vw;
        height: 60vh;

        .post-image-input {
          left: 135px;
        }

        .post-image {
          width: 87.5vw;
          height: 59vh;
        }
      }
    }
  }
}