@import '/src/styles/basic.scss';

.CreateStyle {
  height: 30px;
  font-family: $fontType-nanumMyeongjo;
  font-size: 17px;
  cursor: pointer;
}

.CreateStyle:hover {
  border-bottom: 2px solid rgb(68,68,68,);
}