@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import '/src/styles/basic.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  margin: 0px auto;
  margin-top: 50px;
  border-bottom: 1px solid gray;

  .logo {
    width: 100px;
    height: auto;
    padding-left: 50px;
    font-family: $fontType-merriweather;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
  }

  .user {
    display: flex;
    gap: 40px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 50px;

    .profileName {
      padding-top: 15px;
    }
  }
}

@media (max-width: 450px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70px;
    margin-top: 0px;
    background-color: #D9D9D9;

    .logo {
      font-size: 30px;
      margin: 0px auto;
      margin-left: -20px;
    }

    .user {
      margin-top: 10px;
    }

    .profile {
      display: none;
    }
  }
}