@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import '/src/styles/basic.scss';

.navbar {
  width: 100vw;
  height: 100px;
  margin: 0px auto;
  border-bottom: 1px solid gray;

  .top {
    width: 500px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 20px;

    .logo {
      width: 150px;
      height: auto;
      font-family: $fontType-merriweather;
      font-size: 40px;
      text-align: center;
      cursor: pointer;
    }
    
    .profileName {
      padding-top: 15px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  .navbar {
    width: 100vw;
    height: 150px;
    display: flex;
    border: 0px;
    background-color: rgb(184, 184, 184);

    .top {
      width: 500px;
      display: flex;
      gap: 35px;
      align-items: center;
      padding: 0px;

      .logo {
        width: 150px;
        height: auto;
        font-family: $fontType-merriweather;
        font-size: 40px;
        text-align: center;
        cursor: pointer;
      }
      
      .profileName {
        padding-top: 15px;
        color: rgb(113, 113, 113);
      }
    }
  
    .bottom {
      width: 400px;
      padding: 0px 0px 0px 50px;
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
}