@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import '/src/styles/basic.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 70px;
  margin: 0px auto;
  margin-top: 50px;

  .logo {
    width: 100px;
    height: auto;
    font-family: $fontType-merriweather;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }

  .profile {
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .navbar {
    width: 100vw;
    margin: 0px;
    height: 50px;
    background-color: #D9D9D9;

    .logo {
      font-size: 30px;
      margin: 0px auto;
    }
  }
}