  .cards {
    position: relative;
    width: 250px;
    height: 300px;

    .card-image {
      width: 250px;
      height: 300px;
      object-fit: cover;
    }
  
    .card-black {
      position: absolute;
      width: 250px;
      height: 300px;
      opacity: 0.5;
      background-color: black;
    }

    .detail-page-btn {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      border: 0px;
      background-color: transparent;
      color: #eeeeee;
      font-size: 40px;
      cursor: pointer;
    }

    .delete-btn {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      border: 0px;
      background-color: transparent;
      color: #eeeeee;
      font-size: 40px;
      cursor: pointer;
    }
  }

  @media (max-width: 450px) {
    .cards {
      width: 50vw;
  
      .card-image {
        width: 50vw;
      }

      .card-black {
        width: 50vw;
      } 
    }
  }