.Mylist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1050px;
  height: auto;
  margin: 0px auto;
  margin-top: 80px;
}

@media (max-width: 450px) {
  .Mylist {
    width: 100vw;
    margin-top: 0px;
  }
}